@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

#header-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#live-united-norcal {
    font-family: "Abel";
    color: #111580;
    font-size: 2.3em;
    grid-column: 2;
    grid-row: 1;
    width: 50%;
}

#uw-logo {
    grid-column: 1;
    grid-row: 1;
}

