body {
  font-family: "Arial";
}

h2 {
  color: #111580;
  font-size: 1.5em;
}

h3 {
  color: #313031;
  font-size: 1.2em;
}

h4, h5 {
  color: #111580;
}

input[type="text"] {
  font-size: 1.2em;
  color: #777777;
  margin: 5px;
}

#agencies-container {
  display: flex;
  flex-direction: column;
}

/* Colors */
.text-united-blue {
  color: #111580;
}

.bg-united-orange {
  background-color: #F48118;
}

.btn-primary {
  background-color: #F48118 !important;
  border-color: #F48118 !important;
  color: #FFF;
}